h1 {
    font-size: 1.3rem;
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $primary;
    text-shadow: 0 0 35px rgba($white, .7);
}

h6 {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 300;
    color: lighten($primary, 0);
}

small,
.small {
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 500;
    color: $gray-500;
}