#sidebar-nav {
    background-color: $sidebar-bg;
    width: 280px;

    .nav-section {
        padding: 1rem 0;

        &-header {
            text-transform: uppercase;
            font-size: .8rem;
            font-weight: bold;
            color: $gray-700;
            padding: 1rem 1.5rem;
        }
    }

    svg {
        max-width: 24px;
        margin-right: 1rem;
        color: $gray-500;
    }

    .nav {
        flex-wrap: nowrap;
        margin-top: .5rem;

        &-link {
            padding: .5rem .7rem;
            text-decoration: none;
            color: $gray-500;
            margin: .1rem .7rem;
            border-radius: $border-radius;

            @extend .d-flex;
            @extend .align-items-center;

            &:hover {
                background-color: darken($body-bg, 2);
            }

            &.router-link-active {
                background-color: $body-bg;
                color: $white;
            }
        }
    }
}